<h2 class="text-center my-5">Add Product</h2>

<div *ngIf="errorMessage != ''">
    {{errorMessage}}
</div>

<form (ngSubmit)="onSubmit()" #productForm="ngForm" class="border rounded p-5 w-50 mb-5 mx-auto">

    <div class="mb-3">
        <label class="form-label">Name*</label>
        <input required #Name ="ngModel" class= "form-control" type="text" name="Name" [(ngModel)]="product.name" maxlength="100"/>

        <div *ngIf="Name.invalid && (Name.touched || Name.dirty)">
            <div class="text-danger" *ngIf="Name.errors?.['required']">Product Name is required.</div>
            <div class="text-danger" *ngIf="Name.errors?.['maxlength']">Product Name cannot exceed 100 characters.</div>
        </div>
    </div>

    <div class="mb-3">
        <label class="form-label">Description*</label>
        <input required #Description ="ngModel" class= "form-control" type="text" name="Description" [(ngModel)]="product.description"/>

        <div *ngIf="Description.invalid && (Description.touched || Description.dirty)">
            <div class="text-danger" *ngIf="Description.errors?.['required']">Description is required.</div>
        </div>
    
    </div>

    <div class="mb-3">
        <label class="form-label">SKU*</label>
        <input required #SKU ="ngModel" class= "form-control" type="text" name="SKU" [(ngModel)]="product.sku"/>
    
        <div *ngIf="SKU.invalid && (SKU.touched || SKU.dirty)">
            <div class="text-danger" *ngIf="SKU.errors?.['required']">SKU is required.</div>
        </div>
        
    </div>

    
    <div *ngIf="errorMessage !== ''" class="text-danger">
    {{ errorMessage }}
    </div>

    <div class="mb-3">
        <label class="form-label">Category*</label>
        <select required #CategoryID="ngModel" class="form-control" name="CategoryID" [(ngModel)]="product.categoryID">
            <option value="">Select Category</option>
            <option *ngFor="let category of categories" [value]="category.categoryID">
                {{ category.name }}
            </option>
        </select>
    
        <div *ngIf="CategoryID.invalid && (CategoryID.touched || CategoryID.dirty)">
            <div class="text-danger" *ngIf="CategoryID.errors?.['required']">Category is required.</div>
        </div>
    </div>

    <div class="mb-3">
        <label class="form-label">StockQuantity*</label>
        <input required #StockQuantity="ngModel" class= "form-control" type="number" name="StockQuantity" [(ngModel)]="product.stockQuantity"/>
    
        <div *ngIf="StockQuantity.invalid && (StockQuantity.touched || StockQuantity.dirty)">
            <div class="text-danger" *ngIf="StockQuantity.errors?.['required']">StockQuantity is required.</div>
        </div>

    </div>

    <div class="mb-3">
        <label class="form-label">Price*</label>
        <input required #Price="ngModel" class= "form-control" type="number" name="Price" [(ngModel)]="product.price"/>
    
        <div *ngIf="Price.invalid && (Price.touched || Price.dirty)">
            <div class="text-danger" *ngIf="Price.errors?.['required']">Price is required.</div>
        </div>
    
    </div>

    <button class="btn btn-primary" type="submit" [disabled]="productForm.invalid">Add</button>
</form>
